<div
  class="flex flex-col p-3 min-w-[16rem] h-svh outline outline-1 outline-slate-200 justify-between"
>
  <div class="">
    <div class="ml-2 font-bold mt-2 text-lg">Dashboard</div>
    <div class="text-sm mt-4">
      <div class="ml-2 text-lg">Menu</div>
      <ul>
        <ng-container *ngFor="let route of routes">
          <app-menu-sidebar [route]="route"></app-menu-sidebar>
        </ng-container>
      </ul>
    </div>
  </div>
  <app-user-sidebar name="Alpheus" email="alpheusm13@gmail.com" />
</div>
