<div
  class="flex flex-col p-3 min-w-[16rem] h-svh outline outline-1 outline-slate-200 justify-between"
>
  <div class="">
    <div class="ml-2 font-bold mt-2 text-lg">Dashboard</div>
    <div class="text-sm mt-4">
      <div class="ml-2 text-lg">Menu</div>
      <ul>
        <li class=" ">
          <a
            class="flex gap-4 text-sm hover:bg-slate-200 px-2 rounded-md"
            routerLink="/"
            routerLinkActive="router-link-active"
          >
            <div class="flex justify-between w-full py-1.5">
              <div class="flex gap-4">
                <img
                  src="/svgs/add_square.svg"
                  class="text-white"
                  alt="add icon"
                />
                <div>add note</div>
              </div>
              <img
                src="/svgs/expand_right.svg"
                class="text-white"
                alt="add icon"
              />
            </div>
          </a>
        </li>
        <li class=" ">
          <a
            class="flex gap-4 text-sm hover:bg-slate-200 px-2 rounded-md"
            routerLink="/routePath"
            routerLinkActive="router-link-active"
          >
            <div class="flex justify-between w-full py-1.5">
              <div class="flex gap-4">
                <img
                  src="/svgs/alarmclock.svg"
                  class="text-white"
                  alt="add icon"
                />
                <div>Scheduled</div>
              </div>
              <img
                src="/svgs/expand_right.svg"
                class="text-white"
                alt="add icon"
              />
            </div>
          </a>
        </li>
        <li class=" ">
          <a
            class="flex gap-4 text-sm hover:bg-slate-200 px-2 rounded-md"
            routerLink="/routePath"
            routerLinkActive="router-link-active"
          >
            <div class="flex justify-between w-full py-1.5">
              <div class="flex gap-4">
                <i class="bi bi-plus-lg"></i>
                <div>add note</div>
              </div>
              <img
                src="/svgs/expand_right.svg"
                class="text-white"
                alt="add icon"
              />
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex gap-2">
    <div class="px-3 py-1 rounded bg-slate-300 text-lg">A</div>
    <div class="">
      <div class="font-bold text-sm m-0">Alpheus</div>
      <div class="text-sm mt-[-.25rem]">alpheusm13gmail.com</div>
    </div>
  </div>
</div>
